<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div id="app">
        <div class="form-container">
            <div class="form-group">
                <input type="number" placeholder="author_id" v-model="author_id">
            </div>
            <div class="form-group">
                <input type="text" placeholder="title" v-model="title">
            </div>
            <div class="form-group">
                <textarea cols="5" placeholder="body" v-model="body"></textarea>
            </div>
            <div class="form-group">
                <button type="button" @click="addBook" v-if="!isHidden">AddBook</button>
                <button type="button" @click="updateBook" v-if="isHidden">UpdateBook</button>
            </div>
        </div>
        <section class="container">
            <div class="card" v-for="book in books" >
                <div class="card-title">
                    <h1>{{book.title}}</h1>
                </div>
                <div class="card-body">
                    <p>{{book.body}}</p>
                </div>
                <div class="card-footer">
                    <p>{{book.created_at}}</p>
                </div>
                <div class="deup">
                    <button type="button" id="delete" @click="deleteBook(book)">delete</button>
                    <button type="button" id="edit" @click="editBook(book)">edit</button>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            books: [],
            author_id: null,
            title: "",
            body: "",
            isHidden:false,
            updateId: null
        },
        methods: {
            getBooks() {
                let url = "http://localhost:8000/api/books";
                axios.get(url).then(response => {
                    this.books = response.data.data
                });
            },
            addBook() {
                let data = {author_id: parseInt(this.author_id), title: this.title, body: this.body};
                let url = "http://localhost:8000/api/books";
                axios.post(url,data).then(response => {
                    console.log(response.data);
                });

            },
            deleteBook(book){
                let id = book.id
                let url = "http://localhost:8000/api/books";
                axios.delete(url + '/' + id).then(response => {
                    this.todos = response.data.data
                    this.getBooks();
                   
                });
            },
            editBook(book){
                this.author_id = book.author_id;
                this.title = book.title;
                this.body= book.body;
                this.updateId = book.id;
                this.isHidden = true;

            },
            updateBook(){
                let data = {author_id: parseInt(this.author_id), title: this.title, body: this.body};
                let url = "http://localhost:8000/api/books";
                axios.put(url,data).then(response => {
                    console.log(response.data);
                });
                this.isHidden = false;
            }

        },

        mounted() {
            this.getBooks();
        },
    })
</script>
</html>
</html>